.header-section {
    background-color: #84BFA0;
    color: white;
    padding: 20px;
    text-align: left;
      font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opciones-inicio{
    color: white;
    padding: 20px;
    text-align: right;
      font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;

}.li{
    display: flex;
    flex-direction: row;
}
.header-section h2 {
    margin: 0;
    font-size: 2em;
}
.header-section p {
    margin: 10px 0;
}
.mitr-extralight {
  font-family: "Mitr", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mitr-light {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mitr-regular {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mitr-medium {
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mitr-semibold {
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mitr-bold {
  font-family: "Mitr", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.logo-container{
    display: flex;
    width: 100px;
    height: 100px;
    
      text-align: left;
      float: left;
}
.form-container {
    background-color: #e4e4e6;
    border-radius: 8px;
    padding: 50px;
    padding-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.form-title {
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
}
.alert {
    margin-top: 20px;
}
.btn-primary {
    background-color: #7FB899;
    border-color: #7FB899;
}
.btn-primary:hover {
    background-color: #48705a;
    border-color: #48705a;
}
a {
    color: #007bff;
}
a:hover {
    color: #0056b3;
}
button.text-white {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0rem 0rem;
}
nav form {
    display: inline;
}
nav form button {
    display: inline;
    vertical-align: baseline;
}

