body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.header-section {
    background-color: #84BFA0;
    color: white;
    padding: 20px;
    text-align: left;
      font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opciones-inicio{
    color: white;
    padding: 20px;
    text-align: right;
      font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;

}.li{
    display: flex;
    flex-direction: row;
}
.header-section h2 {
    margin: 0;
    font-size: 2em;
}
.header-section p {
    margin: 10px 0;
}
.mitr-extralight {
  font-family: "Mitr", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mitr-light {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mitr-regular {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mitr-medium {
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mitr-semibold {
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mitr-bold {
  font-family: "Mitr", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.btn-primary {
    background-color: #7FB899;
    border-color: #7FB899;
}
.btn-primary:hover {
    background-color: #48705a;
    border-color: #48705a;
}
