.header-section {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}
.header-section h2 {
    margin: 0;
    font-size: 2em;
}
.header-section p {
    margin: 10px 0;
}
nav {
    margin-top: 15px;
}
nav a, nav button {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}
nav button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
}
form {
    display: inline;
}

/* visualizacion tabla */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 0 15px; /* Espaciado interno */
      margin-top: 30px;
}
.tabla{
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 2rem; /* Espaciado interno */ 
}
table {
    border: 2px solid black; /* Borde para toda la tabla */
    border-collapse: separate; /* Une los bordes de celdas */
    border-spacing: 0;
    width: 100%; /* opcional */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; 

}
th {
    background-color: #007bff;
    color: white;
}
th, td {
    border: 1px solid black; /* Bordes para cada celda */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Alineación */
}
